.head {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.head__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 5px 0;
}

.head__currency {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.head__currency span {
  min-width: 100px;
}
